  
            body,html{
                        width:100%;
                        height:100%;
                        
                        
            }
            body,ul,p,input,td,tr,img{
                        padding: 0;
                        margin: 0;
            }
            
            
            a{
                        text-decoration: none;
            }
            li{
                    list-style: none;
            }
            .clearfloat:after{
                    content:".";
                    clear:both;
                    display:block;
                    height:0;
                    overflow:hidden;
                    visibility:hidden;
            }

            
            .header{
                        width: 100%;
                        height: 183px;
                        
            }
            .wrap{
                        width: 1200px;
                        margin: 0 auto;
                        height: 133px;            
            }
            
            .lang{
                        margin-top: 61px;
                        margin-bottom: 40px;
                        line-height: 30px;
                        text-align: center;
                        float: left;
                        margin-left: 35px;
                        font-size: 12px;
                        border-right: 1px solid #cacaca;
                        position: relative;
                        cursor: pointer;
                       .language{
                           display: block;
                           position: absolute;
                           left:-30px ;
                           
                           width: 84px;
                           border: 1px solid #000;
                           overflow: hidden;
                           color: #000;
                           background: #fff;
                           z-index:2;
                           display: none;
                           span{
                               display: block;
                               line-height: 28px;
                               
                           }
                           
                       }        
                    
            }
            
            .lang1{
                        display: block;
                        float: right;
                        margin-left: 10px;
                        margin-right: 10px;
                        
            }
            .Rmb{
                        margin-top: 61px;
                        margin-bottom: 40px;
                        line-height: 30px;
                        text-align: center;
                        float: left;
                        margin-left: 35px;
                        font-size: 12px;
            }
            .Rmb .ri{
                            font-size: 12px;
            }
.aLogo{
                            display: block;
                            overflow: hidden;
                            width: 190px;
                            height: 80px;
                             margin-left: 370px;
                             margin-top: 40px;
                             float: left;
       }
.logo{
                            display: block; 
                            border: 0;  
      }
      
//开始使用sass文件格式
    
.user{
            @extend .lang ;
            float: right;
            border-right: 0;
            margin-right:10px ;
           
            a{
                display:inline-block ;
                padding:0 15px;
                 color: black;
                 border-right: 1px solid #cacaca;
                 
                .i2{
                        font-size: 20px;
                } 
                              
            }
            .ai1{
                        border-right:0;
                }      
            
}

.list{
            width: 100%;
           height: 50px;
            background: #000;
            .wrap{
                width: 1200px;
                margin: 0 auto;
                height: 50px;
            }
            ul{
                    float: left;
                    height: 50px;
                    li{
                        float: left;
                        width: 78px;
                        height: 50px;
                        line-height: 50px;
                        text-align: center;
                        position: relative;
                        a{
                            font-size: 14px;
                            color: #ffb81c;
                            display: block;
                        }
                        i{
                           position: absolute;
                            top: 39px;
                            left: 30px;
                            font-size: 16px;
                            color: #fff;
                            height: 16px;
                             line-height: 1;
                             width: 16px;
                             display: none;
                        }    
                    }
                    li:first-of-type{
                        margin-left: -25px;
                    }
                    
            }
//二级导航栏
.list2{
            width: 1200px;
            position: absolute;
            margin: 0 auto;
            //overflow: hidden;
            height: 100px;
            top: 50px;
            left: 0;
            background: red;
            display: none;
}
            
            .search{
                   float: right;
                   right: 20px;
                   width: 230px;
                   line-height: 50px;
                   color:#ffb81c;
                   font-size: 14px;
                   text-align: right;
                   overflow: hidden;
                   
                  .s1{
                       margin-right: 10px;
                  }
                 
            }
           
}

